<!--ツールバー-->
<md-toolbar color="warn">
  <span>サンプルエレメント3</span>
</md-toolbar>
<!--タブメニュー-->
<md-tab-group>
  <!--カード-->
  <md-tab label="Card①">
    <md-card *ngFor="let spaceScreen of spaceScreens; let i = index;">
      <img md-card-image src="{{spaceScreen.img}}" style="width: 500px; height: 300px;">
      <md-card-content>
        <p>{{spaceScreen.description}}</p>
      </md-card-content>
      <md-card-actions>
        <button md-button (click)="likeMe(i)">
          <i class="material-icons md-18" [class.red-color]="spaceScreen.liked == '1'">favorite</i>LIKE
        </button>
        <button md-button (click)="deleteMe(i)">
          <i class="material-icons md-18">delete</i>DELETE
        </button>
      </md-card-actions>
    </md-card>
  </md-tab>

  <!--カード-->
  <md-tab label="card②">
    <md-card>
      <md-card-header>
        <div md-card-avatar class="example-header-image"></div>
        <md-card-title>ハリネズミ</md-card-title>
        <md-card-subtitle>Hedgehog</md-card-subtitle>
      </md-card-header>
      <img md-card-image src="../../assets/img/harinezumi.jpeg" style="width: 500px; height: 300px;">
      <md-card-content>
        <p>
          広義には、ハリネズミ科に属するすべての動物、すなわちジムヌラ亜科（英語版）、
          ハリネズミ亜科の両方の生物群を指すが、ふつうは針毛をもたない（あるいはほとんどもたない）
          ジムヌラ類を除いて、ハリネズミ亜科のもののみを指すことが多い。本項でも、ジムヌラ類を除く
          ハリネズミ類について記す。ハリネズミ亜科では、現生のものとしては5属16種が知られている。
        </p>
      </md-card-content>
      <md-card-actions>
        <button md-button><md-icon>home</md-icon></button>
        <button md-button>シェア</button>
      </md-card-actions>
    </md-card>
  </md-tab>
</md-tab-group>

