<md-card>
  <h2>SelectBox</h2>
  <form>
    <md-select placeholder="人気の食べ物" [(ngModel)]="selectedValue" name="food">
      <md-option *ngFor="let food of foods" [value]="food.value">
        {{food.viewValue}}
      </md-option>
    </md-select>
  </form>
</md-card><br>

<md-card>
  <h2>SlideToggle</h2>
  <section>
    <md-slide-toggle color="primary">
      Slide me!
    </md-slide-toggle>
  </section>
</md-card><br>

<md-card>
  <h2>List</h2>
  <md-list>
    <h3 md-subheader>Folders</h3>
    <md-list-item *ngFor="let folder of folders">
      <md-icon md-list-icon>folder</md-icon>
      <h4 md-line>{{folder.name}}</h4>
      <p md-line>{{folder.updated | date}}</p>
    </md-list-item>
    <md-divider></md-divider>
    <h3 md-subheader>Notes</h3>
    <md-list-item *ngFor="let note of notes">
      <md-icon md-list-icon>note</md-icon>
      <h4 md-line>{{note.name}}</h4>
      <p md-line>{{note.updated | date}}</p>
    </md-list-item>
  </md-list>
</md-card><br>

<md-card>
  <h2>Tabs</h2>
  <md-tab-group>
    <md-tab label="Tab 1">Content 1</md-tab>
    <md-tab label="Tab 2">Content 2</md-tab>
  </md-tab-group>
</md-card><br>