<!--ツールバー-->
<md-toolbar color="accent">
  <span>サンプルエレメント2</span>
</md-toolbar>

<!--タブメニュー-->
<md-tab-group>
  <!--スライダー-->
  <md-tab label="Slider">
    <md-card>
      <h2>Slider</h2>
      <md-slider showTicks="true"
                max="100"
                min="0"
                step="1"
                thumbLabel="true"
                value="18">
      </md-slider>
    </md-card>    
  </md-tab>
  
  <!--プログレススピナー-->
  <md-tab label="ProgressSpinner">
    <md-card>
      <h2>Progress spinner</h2>
      <md-card-content>
        <section>
          <label>Color:　</label>
          <md-radio-group [(ngModel)]="color">
            <md-radio-button value="primary">
              Primary
            </md-radio-button>
            <md-radio-button value="accent">
              Accent
            </md-radio-button>
            <md-radio-button value="warn">
              Warn
            </md-radio-button>
          </md-radio-group>
        </section>

        <section>
          <label>Mode:　</label>
          <md-radio-group [(ngModel)]="mode">
            <md-radio-button value="determinate">
              Determinate
            </md-radio-button>
            <md-radio-button value="indeterminate">
              Indeterminate
            </md-radio-button>
          </md-radio-group>
        </section>

        <section *ngIf="mode == 'determinate'">
          <label>Progress:　</label>
          <md-slider [(ngModel)]="value"></md-slider>
        </section>
      </md-card-content>
      <md-card-content>
        <h2>Result</h2>
        <md-progress-spinner
                             color="{{color}}"
                             [mode]="mode"
                             [value]="value">
        </md-progress-spinner>
      </md-card-content>
    </md-card>
  </md-tab>
  
  <!--プログレスバー-->
  <md-tab label="ProgressBar">
    <md-card>
      <h2>ProgressBar</h2>
      <md-card-content>
        <section>
          <label>Color:　</label>
          <md-radio-group [(ngModel)]="color">
            <md-radio-button value="primary">
              Primary
            </md-radio-button>
            <md-radio-button value="accent">
              Accent
            </md-radio-button>
            <md-radio-button value="warn">
              Warn
            </md-radio-button>
          </md-radio-group>
        </section>

        <section>
          <label>Mode:　</label>
          <md-radio-group [(ngModel)]="mode">
            <md-radio-button value="determinate">
              Determinate
            </md-radio-button>
            <md-radio-button value="indeterminate">
              Indeterminate
            </md-radio-button>
            <md-radio-button value="buffer">
              Buffer
            </md-radio-button>
            <md-radio-button value="query">
              Query
            </md-radio-button>
          </md-radio-group>
        </section>

        <section *ngIf="mode == 'determinate' || mode == 'buffer'">
          <label>Progress:　</label>
          <md-slider [(ngModel)]="value"></md-slider>
        </section>
        <section *ngIf="mode == 'buffer'">
          <label>Buffer:　</label>
          <md-slider [(ngModel)]="bufferValue"></md-slider>
        </section>

        <h2>Result</h2>

        <section>
          <md-progress-bar
            
              [color]="color"
              [mode]="mode"
              [value]="value"
              [bufferValue]="bufferValue">
          </md-progress-bar>
        </section>
      </md-card-content>
    </md-card>
  </md-tab>

  <!--スナックバー-->
  <md-tab label="SnackBar">
    <md-card>
      <h2>SnackBar</h2>
      <md-card-content>
        <button md-raised-button color="primary" (click)="openSnackBar()">クッリクしてみな</button>
      </md-card-content>
    </md-card>
  </md-tab>

</md-tab-group>
