<md-card>
  <md-card-content>
    <h2>Checkbox</h2>
    <section>
      <md-checkbox>Checked</md-checkbox>
      <md-checkbox>Indeterminate</md-checkbox>
    </section>
  </md-card-content>
</md-card><br>

<md-card>
  <md-card-content>
    <h2>RadioButton</h2>
    <section>
      <md-radio-group>
        <md-radio-button value="start">start</md-radio-button>
        <md-radio-button value="end">end</md-radio-button>
      </md-radio-group>
    </section>
  </md-card-content>
</md-card><br>

<md-card>
  <h2>Button</h2>
  <section>
    <button  md-button>Flat</button>
    <button color="primary" md-raised-button>Primary</button>
    <button color="accent" md-raised-button>Accent</button>
    <button color="warm" md-raised-button>Warm</button>
    <button md-fab><md-icon>check</md-icon></button>
    <button md-mini-fab><md-icon>check</md-icon></button>
  </section>
</md-card><br>

<md-card>
  <md-card-content>
    <form>
      <md-input-container>
        <input mdInput placeholder="名前を入力">
      </md-input-container>
    </form>
  </md-card-content>
</md-card><br>

  